{% extends "classpath:/templates/layout.twig" %}

{% block title %}Detalhes da Publicação{% endblock %}
{% block head %}{% endblock %}

{% block container %}
    <div class="container detallhes-publicacao-container">
        <h1>{{ model.nomepublicacao }}</h1>
        <hr>
        <p><b>Autores</b>
                {%  for key,value in model.getPesquisadores() %}
                    {{ value.getNomepesquisador() }},
                {% endfor %}
        </p>
        <p><b>Publicado em</b> {{ model.ano }} <b>em</b> {{ model.publicador|default('desconhecido') }}</p>
        <p><b>Publicação cadastrada em</b> {{ model.datacadastro}}</p>
        <h3>Outros Campos</h3>
        <hr>
        {% for value in model.getCampos() %}
            <p><b>{{ value.getNomecampo() }}</b> {{ value.getValorcampo() }}</p>
        {% endfor %}
        {% if (canEdit) %}
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary pull-xs-right">Editar</button>
                </div>
            </div>
        {% endif %}
        <hr>
    </div><!--/.container-->
{% endblock %}